@use 'abstracts' as *;

body {
   min-width: 320px;
}

.alignment {
   width: 90%;
   max-width: 60rem;
   // outline: 1px solid red;
   &-pt {
      @include flexParent(column, center, center);
   }
}

.flex-parent {
   @include flexParent(column, unset, center);
   gap: 2.5rem;
   @include mq(hero) {
      flex-direction: row;
      justify-content: center;
      align-items: unset;
      gap: 3.5rem;
   }
   &-wp {
      @include flexParent(row, unset, unset);
      flex-wrap: wrap;
   }
}

.split {
   flex: 1 100%;
}

.spacing {
   margin-block: 7.5rem;
}
