@use 'abstracts' as *;

.ftr {
   padding-block: 2rem;
   background-color: $fcPm;
   &_cnt {
      @include flexParent(column, unset, center);
      @include mq(footer) {
         flex-direction: row;
         justify-content: space-between;
      }
   }
   &_nav {
      & ul {
         @include flexParent(column, unset, center);
         margin-bottom: 1.6rem;
         @include mq(footer) {
            flex-direction: row;
            justify-content: center;
            margin-bottom: 0;
         }
      }
      & li {
         margin-block: 1rem;
         text-transform: uppercase;
         font-size: 0.9rem;
         letter-spacing: 0.1ch;
         @include mq(footer) {
            margin-block: 0;
            &:not(:first-child) {
               margin-right: 1.5rem;
            }
            &:first-child {
               margin-right: 3.3rem;
            }
         }
      }
      & a {
         color: $fcTr;
         position: relative;
         &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $fcTr;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform 150ms ease-in-out;
         }
         &:hover::after {
            transform: scaleX(1);
         }
      }
   }
   &_svgs-ct {
      @include flexParent(row, center, center);
   }
}
