@use 'abstracts' as *;

.ftr {
   background-color: $fcPm;
   padding-block: 2rem;
   &_cnt {
      @include flexParent(column, unset, center);
   }
   &_nav {
      & ul {
         @include flexParent(column, unset, center);
         margin-bottom: 1.6rem;
      }
      & li {
         margin-block: 1rem;
         text-transform: uppercase;
         font-size: 1rem;
         letter-spacing: 0.1ch;
      }
      & a {
         color: $fcTr;
         &:hover {
            text-decoration: underline;
         }
      }
   }
   &_svgs-ct {
      @include flexParent(row, center, center);
   }
}

.svg {
   &-fb {
      margin-right: 2rem;
      &:hover {
         fill: $softRed;
      }
   }
   &-tw:hover {
      fill: $softBlue;
   }
}
