@use 'abstracts' as *;

.ftr {
   padding-block: 2rem;
   background-color: $fcPm;
   &_cnt {
      @include flexParent(column, unset, center);
   }
   &_nav {
      & ul {
         @include flexParent(column, unset, center);
         margin-bottom: 1.6rem;
      }
      & li {
         margin-block: 1rem;
         text-transform: uppercase;
         font-size: 1rem;
         letter-spacing: 0.1ch;
      }
      & a {
         color: $fcTr;
         @include transition(150ms);
         background-image: linear-gradient($softBlue, $softBlue);
         background-size: 0% 3px;
         background-repeat: no-repeat;
         background-position: left bottom;
         &:hover {
            background-size: 100% 3px;
         }
      }
   }
   &_svgs-ct {
      @include flexParent(row, center, center);
   }
}
