@use 'abstracts' as *;

.hdr {
   margin-bottom: 1.5rem;
   padding-block: 3rem;
   &_cnt {
      @include flexParent(row, space-between, center);
   }
   @include mq(hero) {
      margin-bottom: 1rem;
   }
}
