@use 'abstracts' as *;

.hero-wrapper {
   outline: 2px solid;
   position: relative;
}

.flex-parent {
   @include flexParent(column, unset, center);
}

.split {
   outline: 2px solid;
   flex-grow: 1;
}

.hero_illustration-ct {
   min-height: 300px;
   width: 100%;
}

.hero_illustration {
   @include position(absolute, unset, auto, 7px, 50%);
   z-index: 2;
   transform: translateX(-50%);
}

.hero_cnt-ct {
   @include flexParent(column, unset, center);
}

.hero_cnt {
   @include flexParent(column, unset, center);
   width: 90%;
   outline: 2px solid;
}

.hero_title {
   text-align: center;
   line-height: 1.4;
}

.dsc {
   text-align: center;
   color: $fcSd;
   margin-block: 0.7em;
}
