@use 'abstracts' as *;

.contact-wrapper {
   background-color: $softBlue;
   padding: 5rem 0 3rem;
}

.contact_cnt {
   @include flexParent(column, unset, center);
}

.contact_sctn {
   @include flexParent(column, unset, center);
}

.already-joined {
   color: $fcTr;
   letter-spacing: 0.4ch;
   font-size: 1.1rem;
   font-weight: 400;
   text-transform: uppercase;
}

.contact_title {
   color: $fcTr;
   margin-bottom: 1.2em;
}

.form {
   position: relative;
}

.input {
   width: 100%;
   margin-bottom: 1em;
   font-size: 1.1rem;
   padding: 1em;
   border-radius: 5px;
   &::placeholder {
      color: rgba($fcSd, 0.8);
   }
}

.lnk-red {
   background-color: $softRed;
   color: $fcTr;
   width: 100%;
   &:hover {
      border: 2px solid $softRed;
      color: $softRed;
   }
}

.error {
   border: 2px solid $softRed;
   margin-bottom: 2.3em;
   outline: none;
   box-shadow: 0 25px 0 0 $softRed;
   background: white url('/images/icon-error.svg') no-repeat 95% center / 7%;
}

.error-msg {
   display: block;
   position: absolute;
   z-index: 2;
   width: 100%;
   height: auto;
   bottom: 66px;
   left: 5px;
   font-size: 0.8rem;
   font-weight: 700;
   color: $fcTr;
}
