@use 'abstracts' as *;

.contact {
   &-wrapper {
      padding: 5rem 0 3rem;
      background-color: $softBlue;
   }
   &_cnt {
      @include flexParent(column, unset, center);
   }
   &_sctn {
      @include flexParent(column, unset, center);
   }
   &_title {
      margin-top: 1.2rem;
      margin-bottom: 1.2rem;
      color: $fcTr;
   }
}

.already-joined {
   color: $fcTr;
   letter-spacing: 0.4ch;
   font-size: 1.1rem;
   font-weight: 400;
   text-transform: uppercase;
}

.fieldset {
   border: none;
   outline: 1px solid white;
   padding: 0;
   margin: 0;
}
