@use 'abstracts' as *;

.feat_cnt .dsc {
   margin: 1.2rem auto 2rem;
}

.dsc {
   max-width: 650px;
   margin: 1.3rem 0 2.2rem;
   text-align: center;
   color: $fcSd;
   @include mq(hero) {
      max-width: 595px;
   }
}
