@use 'abstracts' as *;

.ext_cnt {
   @include flexParent(column, unset, center);
}

.card-brwsr {
   @include flexParent(column, unset, center);
   min-height: 370px;
   padding: 2.7rem 0 1.5rem;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background: white url('/images/bg-dots.svg') no-repeat center 74% / 100%;
   box-shadow: 0 10px 15px 0 rgba(black, 0.1);
   &-ct {
      @include flexParent(row, center, unset);
      flex-wrap: wrap;
      gap: 4rem;
      @include mq(extension) {
         margin-top: 2rem;
      }
      & > * {
         flex-basis: 340px;
         @include mq(extension) {
            flex-basis: 265px;
            &:nth-child(1) {
               margin-bottom: 2.7rem;
            }
            &:nth-child(2) {
               margin-top: 1.7rem;
               margin-bottom: 1.3rem;
            }
            &:nth-child(3) {
               margin-top: 3.5rem;
            }
         }
      }
   }
}

.logo-brwsr {
   margin-bottom: 2rem;
}

.brwsr {
   &-logo {
      margin-bottom: 2rem;
   }
   &-title {
      margin-bottom: 0.6rem;
      letter-spacing: 0.05ch;
      font-weight: 500;
      font-size: 1.3rem;
   }
}

.min-version {
   color: $fcSd;
}

.lnk-install {
   margin-top: auto;
   width: 85%;
   text-align: center;
}
