@use 'abstracts' as *;

.card-brwsr {
   @include flexParent(column, unset, center);
   min-height: 370px;
   padding: 2.7rem 0 1.5rem;
   border-bottom-left-radius: 10px;
   border-bottom-right-radius: 10px;
   background: white url('/images/bg-dots.svg') no-repeat center 74% / 100%;
   box-shadow: 0 10px 15px 0 rgba(black, 0.1);
   &-ct {
      outline: 1px solid;
      @include flexParent(row, center, unset);
      flex-wrap: wrap;
      gap: 4rem;
      & > * {
         flex-basis: 260px;
         // flew-grow for later!
      }
   }
}

.logo-brwsr {
   margin-bottom: 2rem;
}

.brwsr {
   &-logo {
      margin-bottom: 2rem;
   }
   &-title {
      margin-bottom: 0.6rem;
      letter-spacing: 0.05ch;
   }
}

.min-version {
   color: $fcSd;
}

.lnk-install {
   margin-top: auto;
}
