@use 'abstracts' as *;

.feat {
   &-wrapper {
      background: url('/images/bg-blue-shape.svg') no-repeat calc(0% - 400px)
         65% / 760px;
      @include mq(hero) {
         background-position: -300px 88%;
         background-size: 70%;
      }
      @include mq(featured-illustration-large) {
         background-position: calc(0% - 100%) 410px;
         background-size: 800px;
      }
      & .flex-parent {
         @include mq(hero) {
            padding-bottom: 6rem;
         }
      }
   }
   &_crsl-cnt-ct {
      padding-top: 2rem;
      @include mq(hero) {
         padding-top: 0;
         @include flexParent(column, center, unset);
      }
   }
   &_crsl-cnt {
      width: 90%;
      @include flexParent(column, unset, center);
      margin: 0 auto;
      @include mq(hero) {
         align-items: start;
      }
   }
   &_illustration-ct {
      // outline: 2px solid purple;
      position: relative;
      min-height: 300px;
      width: 100%;
      @include mq(hero) {
         min-height: 400px;
         width: unset;
      }
   }
   &_illustration {
      position: absolute;
      width: 100%;
      max-width: 410px;
      left: 50%;
      top: 50%;
      transform: translateY(-50%) translateX(-50%);
      @include mq(hero) {
         max-width: 110%;
         width: unset;
      }
   }
}
.crsl-btns-ct {
   margin-bottom: 4rem;
   & > * {
      @include flexChild(1, 300px);
   }
}

.crsl-title {
   @include mq(hero) {
      white-space: nowrap;
   }
}

.crsl-btn {
   padding: 1rem;
   @include lightBorder(bottom);
   position: relative;
   &:first-child {
      @include lightBorder(top);
   }
   @include mq(featured-btns-small) {
      &:nth-child(2) {
         @include lightBorder(top);
         @include lightBorder(left);
      }
   }
   @include mq(featured-btns-large) {
      &,
      &:nth-child(2),
      &:first-child {
         border-top: none;
         border-left: none;
      }
   }
}

.active {
   &::after {
      animation: fade-in 400ms ease-in-out forwards;
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 155px;
      height: 4px;
      background-color: $softRed;
      @include mq(featured-btns-small) {
         width: 225px;
      }
      @include mq(featured-btns-large) {
         width: 100%;
      }
   }
}
