@use 'abstracts' as *;

.feat {
   &-wrapper {
      background: url('/images/bg-blue-shape.svg') no-repeat 150% 64% / 150%;
   }
   &_crsl-cnt-ct {
      padding-top: 2rem;
      // uneven column sizes - hero img alignment for fix!
   }
   &_crsl-cnt {
      width: 90%;
      @include flexParent(column, unset, center);
      margin: 0 auto;
   }
}

.crsl-btns-ct {
   margin-bottom: 4rem;
   & > * {
      @include flexChild(1, 300px);
   }
}

.crsl-btn {
   padding: 1rem;
   @include lightBorder(bottom);
   position: relative;
   &:first-child {
      @include lightBorder(top);
   }
}

.active {
   &::after {
      content: '';
      display: block;
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 155px;
      height: 4px;
      background-color: $softRed;
   }
}
