@use 'abstracts' as *;

.form {
   position: relative;
}

.input {
   width: 100%;
   margin-bottom: 1em;
   font-size: 1.1rem;
   padding: 1em;
   border-radius: 5px;
   &::placeholder {
      color: rgba($fcSd, 0.8);
   }
}

.error {
   border: 2px solid $softRed;
   margin-bottom: 2.3em;
   outline: none;
   box-shadow: 0 30px 0 0 $softRed;
   background: white url('/images/icon-error.svg') no-repeat 95% center / 7%;
}

.error-msg {
   display: block;
   position: absolute;
   z-index: 2;
   width: 100%;
   height: auto;
   bottom: 64px;
   left: 6px;
   font-size: 0.8rem;
   font-weight: 700;
   color: $fcTr;
}
