@use 'abstracts' as *;

.hero {
   &-wrapper {
      // outline: 3px solid;
      background: url('/images/bg-blue-shape.svg') no-repeat -45% 15% / 150%;
      @include mq(hero-illustration) {
         // background-position: calc(100% + 520px) 20%;
         background-position: calc(100% + 100px) 15%;
         background-size: 80% 400px;
      }
      @include mq(hero) {
         background-position: calc(100% + 430px) 80%;
         background-size: 80%;
         position: relative;
         padding-block: 7rem;
      }
      @include mq(hero-illustration-large) {
         background-position: calc(100% + 320px) 100%;
         background-size: 850px;
      }
   }

   &_cnt-ct {
      @include flexParent(column, unset, center);
   }

   &_illustration-ct {
      @include mq(hero) {
         order: 2;
         // outline: 2px solid red;
         // make relative to this when max-width on img hits!
      }
   }

   &_illustration {
      @include mq(hero) {
         position: absolute;
         top: 55%;
         transform: translateY(-50%);
         right: 2%;
         width: 50%;
         max-width: 670px;
         z-index: 3;
      }
   }

   &_cnt {
      @include flexParent(column, unset, center);
      width: 90%;
      @include mq(hero) {
         width: unset;
      }
   }

   &_title {
      position: relative;
      text-align: center;
      line-height: 1.4;
      letter-spacing: 0.05ch;
      @include mq(hero) {
         text-align: left;
      }
   }

   &_lnks {
      @include flexParent(row, center, unset);
      width: 100%;
      gap: 1rem;
      @include mq(hero) {
         justify-content: flex-start;
      }
   }
}
