@use 'abstracts' as *;

.hero {
   &-wrapper {
      position: relative;
      background: url('/images/bg-blue-shape.svg') no-repeat -45% 15% / 150%;
      @include mq(hero-illustration) {
         background-position: 200px 15%;
         background-size: 1100px;
      }
   }

   &_cnt-ct {
      @include flexParent(column, unset, center);
   }

   &_illustration-ct {
      @include mq(hero) {
         order: 2;
      }
   }

   // &_illustration {
   //    // @include position(absolute, unset, auto, 7px, 50%);
   //    //    z-index: 2;
   //    //    transform: translateX(-50%);
   // }

   &_cnt {
      @include flexParent(column, unset, center);
      width: 90%;
   }

   &_title {
      position: relative;
      text-align: center;
      line-height: 1.4;
      letter-spacing: 0.05ch;
      @include mq(hero) {
         text-align: left;
      }
   }

   &_lnks {
      @include flexParent(row, center, unset);
      width: 100%;
      gap: 1rem;
   }
}

// .hero_illustration-ct {
//    min-height: 300px;
//    width: 100%;
// }
