@use 'abstracts' as *;

.login-mb {
   margin-top: 1.7rem;
   padding: 0.8rem;
   border: 2px solid white;
   outline: 2px solid white;
   outline-offset: -2px;
   &:hover {
      outline-offset: 4px;
   }
}

.btn-lnk {
   padding: 0.8em;
   border-radius: 5px;
   box-shadow: 0 2px 3px 0 rgba(black, 0.3);
   font-size: 1rem;
   transition: background-color 200ms linear, border 200ms linear,
      color 200ms linear;
   &:hover {
      background-color: white;
   }
}

.lnk {
   &-blue {
      border: 2px solid transparent;
      background-color: $softBlue;
      color: white;
      &:hover {
         border: 2px solid $softBlue;
         color: $softBlue;
      }
   }
   &-red {
      width: 100%;
      border: 2px solid transparent;
      background-color: $softRed;
      color: $fcTr;
      &:hover {
         border: 2px solid $softRed;
         color: $softRed;
      }
   }
   &-firefox {
      border: 2px solid transparent;
      color: $fcFx;
      background-color: #f5f5f5;
      &:hover {
         border: 2px solid $fcFx;
         color: $fcFx;
      }
   }
}
