@use 'abstracts' as *;

// MOBILE

.hdr {
   &_mobile-nav-ct {
      @include position(fixed, unset, unset, 0, 0);
      z-index: 100;
      min-width: 100%;
      min-height: 100%;
      padding-top: 2rem;
      background-color: rgba($fcPm, 0.95);
      transition: transform 400ms ease-in-out;
      transform: translateY(-100%);
      .nav-open & {
         transform: translateY(0);
      }
      @include mq(header) {
         display: none;
      }
   }
   &_mobile-nav {
      @include flexParent(column, unset, unset);
      width: 90%;
      min-height: calc(100vh - 80px);
      margin: 0 auto;
   }
   &_logo-bm {
      transition: opacity 400ms ease-in-out;
   }
}

.btn-hmb {
   transition: opacity 400ms ease-in-out;
   @include mq(header) {
      display: none;
   }
}

.nav-open {
   & .btn-hmb,
   & .hdr_logo-bm {
      opacity: 0;
   }
}

.mb-nav-hdr {
   @include flexParent(row, space-between, center);
   margin-bottom: 2.4rem;
}

.hdr_nav-mb {
   & li a {
      padding-block: 1.2rem;
      border-bottom: 0.1px solid rgba(white, 0.2);
   }
   & a {
      display: block;
      width: 100%;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.2ch;
      text-align: center;
      transition: background-color 300ms linear, color 300ms linear,
         outline-offset 300ms linear;
      &:first-child {
         border-top: 0.1px solid rgba(white, 0.2);
      }
      &:hover {
         background-color: white;
         color: $fcPm;
      }
   }
}

// WIDE

.hdr_nav-wd {
   display: none;
   @include mq(header) {
      display: block;
   }
   & ul {
      @include flexParent(row, center, center);
   }
   & li:not(:last-child) {
      margin-right: 2rem;
      text-transform: uppercase;
      font-size: 1rem;
      color: $fcPm;
   }
   & a {
      color: $fcPm;
      letter-spacing: 0.1ch;
      &:hover {
         color: $softRed;
      }
   }
}
