@use 'abstracts' as *;

.hdr {
   &_mobile-nav-ct {
      @include position(fixed, unset, unset, 0, 0);
      z-index: 100;
      min-width: 100%;
      min-height: 100%;
      padding-top: 2rem;
      background-color: rgba($fcPm, 0.95);
      animation: mb-nav 1s ease-in-out forwards;
   }
   &_mobile-nav {
      @include flexParent(column, unset, unset);
      width: 90%;
      min-height: calc(100vh - 80px);
      margin: 0 auto;
   }
}

.mb-nav-hdr {
   @include flexParent(row, space-between, center);
   margin-bottom: 2.4rem;
}

.hdr_nav-mb {
   & li a {
      padding-block: 1.2rem;
      border-bottom: 0.1px solid rgba(white, 0.2);
   }
   & a {
      display: block;
      width: 100%;
      color: white;
      text-transform: uppercase;
      letter-spacing: 0.2ch;
      text-align: center;
      @include transition(300ms);
      &:first-child {
         border-top: 0.1px solid rgba(white, 0.2);
      }
      &:hover {
         background-color: white;
         color: $fcPm;
      }
   }
}
