$breakpoints: (
   header: 800px,
   hero: 879px,
   hero-illustration: 735px,
   hero-illustration-large: 1340px,
   featured-btns-small: 665px,
   featured-btns-large: 1000px,
   featured-illustration: 595px,
   featured-illustration-large: 1070px,
   extension: 65rem,
   faq: 600px,
   contact: 600px,
   footer: 800px,
);
