@use 'maps' as *;
@use 'variables' as *;

@mixin flexParent($direction, $justify, $align) {
   display: flex;
   flex-direction: $direction;
   justify-content: $justify;
   align-items: $align;
}

@mixin flexChild($grow, $basis) {
   flex-grow: $grow;
   flex-basis: $basis;
}

@mixin position($position, $width, $height, $top, $left) {
   position: $position;
   width: $width;
   height: $height;
   top: $top;
   left: $left;
}

@mixin positionCentered($width, $height) {
   position: absolute;
   width: $width;
   height: $height;
   inset: 0;
   margin: 0 auto;
}

@mixin lightBorder($position) {
   border-#{$position}: 0.1px solid rgba($fcSd, 0.5);
}

@mixin transition($amount) {
   transition: $amount linear;
}

@mixin mq($key) {
   @media (min-width: map-get($breakpoints, $key)) {
      @content;
   }
}

@mixin fq() {
   @supports (font-size: clamp) {
      @content;
   }
}
