@use 'maps' as *;
@use 'variables' as *;

@mixin flexParent($direction, $justify, $align) {
   display: flex;
   flex-direction: $direction;
   justify-content: $justify;
   align-items: $align;
}

@mixin flexChild($grow, $basis) {
   flex-grow: $grow;
   flex-basis: $basis;
}

@mixin position($position, $width, $height, $top, $left) {
   position: $position;
   width: $width;
   height: $height;
   top: $top;
   left: $left;
}

@mixin positionCentered($width, $height) {
   position: absolute;
   width: $width;
   height: $height;
   inset: 0;
   margin: 0 auto;
}

@mixin btnLink($bgColor, $color, $borderColor, $hoverColor) {
   padding: 0.5em;
   background-color: $bgColor;
   color: $color;
   border-radius: 0.4rem;
   box-shadow: 0 0 0.4rem 0 rgba(black, 0.5);

   &:hover {
      background-color: white;
      border: 0.2rem solid $borderColor;
      color: $hoverColor;
   }
}

@mixin transition($amount) {
   transition: $amount linear;
}

@mixin mq($key) {
   @media (min-width: map-get($breakpoints, $key)) {
      @content;
   }
}

@mixin fq() {
   @supports (font-size: clamp) {
      @content;
   }
}
