ul,
li {
   margin: 0;
   padding: 0;
}

a {
   text-decoration: none;
}

button {
   background-color: transparent;
   border: none;
   outline: 1px solid;
   &:hover {
      cursor: pointer;
   }
}

input {
   border: none;
   outline: 1px solid;
}

.hidden {
   display: none;
}

.svg-refs {
   display: none;
}
