@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

body {
   font: 1.2rem/1.5 'Rubik', sans-serif;
}

.hero_title {
   font-size: clamp(2.2rem, 4vw + 1rem, 2.4rem);
}

.sub-title {
   font-size: clamp(1.8rem, 3vw + 1rem, 2.1rem);
}

.dsc {
   font-size: 1.25rem;
}
